<div class="container-fluid mt-2">
  <div class="row">
    <!-- Socials -->
    <div class="col d-flex justify-content-between">
      <nav>
        <ul>
          <li class="d-inline-block px-2"><a href="https://www.linkedin.com/in/isah-ohieku-b982a6164"
              class="text-primary" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
          <li class="d-inline-block px-2"><a href="https://www.github.com/isahohieku" class="text-primary"
              target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
          <li class="d-inline-block px-2"><a href="https://www.dribble.com/isahohieku" class="text-primary"
              target="_blank"><i class="fab fa-dribbble fa-2x"></i></a></li>
          <li class="d-inline-block px-2"><a href="https://www.behance.net/isahohiekufa98" class="text-primary"
              target="_blank"><i class="fab fa-behance fa-2x"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <!-- Copyright -->
      <div style="padding-right: 50px;" class="">
        <h5 class="text-right text-primary">&copy; {{ getYear() }} Isah Ohieku - Flight service</h5>
      </div>
    </div>
  </div>
</div>