<div >
    <mat-drawer-container class="example-container" style="background:#212d3e;">
        <!-- Side drawer -->
        <mat-drawer mode="side" class="box-shadow" opened style="width: 300px; height: 100vh; background-color: #394c63;">
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <!-- Main Outlet -->
        <mat-drawer-content style="height: 100vh;">
            <app-header style="height: 50px;"></app-header>
            <app-main class="height-hack"></app-main>
            <app-footer  style="height: 50px;"></app-footer>
        </mat-drawer-content>
    </mat-drawer-container>
</div>